---
import { getCollection } from "astro:content";

const feedItems = await getCollection("feedItems");
---

<section role="feed">
   <ul>
      {feedItems.map(({data}) => {
         return (
             <li>
                <img src={data.img} alt={data.title} width="121" height="154"/>
                <div>
                   <p class="counter">{data.counter.toString().padStart(2, '0')}</p>
                   <h3><a href="#">{data.title}</a></h3>
                   <p>{data.description}</p>
                </div>
             </li>
         )
      })}
   </ul>
</section>

<style>
   @import "../styles/media.css";

   ul {
      display: grid;
      grid-template-rows:  1fr;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
   }

   li {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
      font-size: 0.85rem;
   }

   img {
      width: 121px;
      height: 154px;
   }

   h3 {
      font-weight: var(--font-bold);
      font-size: 1.4em;
      padding: 0.5rem 0;

      a, a:visited {
         text-decoration: none;
         color: var(--very-dark-blue);
      }

      a:hover {
         color: var(--soft-red);
      }
   }

   p:first-child {
      color: var(--soft-red);
      font-size: 2.5em;
      font-weight: var(--font-bold);
   }

   p:last-child {
      line-height: 1.3rem;
   }


   @media screen and (--mobile) {
      ul {
         grid-template-rows: repeat(3, 1fr);
         grid-template-columns:  1fr;
      }
   }

   @media screen and (--desktop) {
      ul {
         grid-template-rows:  1fr;
         grid-template-columns: repeat(3, 1fr);
      }
   }
</style>